In [1]:
import pandas as pd
import bs4 as bs
import urllib.request
from datetime import datetime

from finance_data_extract import get_long_historical_price

C:\Users\nilay\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [104]:
df=get_long_historical_price("^GSPC", datetime.strptime('Jan 1 1990', '%b %d %Y').date()
                     , datetime.now().date()
                     , frequency='1d',display=True)

1990-01-01 631087200  + 86,400 =  631173600
1990-03-31 638859600

C:\Users\nilay\Desktop\project-2-Term-Structure\Data\finance_data_extract.py:78: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  extract_table_df = extract_table_df.convert_objects(convert_numeric=True)

1990-04-01 638859600  + 86,400 =  638946000
1990-06-30 646722000

1990-07-01 646722000  + 86,400 =  646808400
1990-09-30 654670800

1990-10-01 654670800  + 86,400 =  654757200
1990-12-31 662623200

1991-01-01 662623200  + 86,400 =  662709600
1991-03-31 670395600

1991-04-01 670395600  + 86,400 =  670482000
1991-06-30 678258000

1991-07-01 678258000  + 86,400 =  678344400
1991-09-30 686206800

1991-10-01 686206800  + 86,400 =  686293200
1991-12-31 694159200

1992-01-01 694159200  + 86,400 =  694245600
1992-03-31 702018000

1992-04-01 702018000  + 86,400 =  702104400
1992-06-30 709880400

1992-07-01 709880400  + 86,400 =  709966800
1992-09-30 717829200

1992-10-01 717829200  + 86,400 =  717915600
1992-12-31 725781600

1993-01-01 725781600  + 86,400 =  725868000
1993-03-31 733554000

1993-04-01 733554000  + 86,400 =  733640400
1993-06-30 741416400

1993-07-01 741416400  + 86,400 =  741502800
1993-09-30 749365200

1993-10-01 749365200  + 86,400 =  749451600
1993-12-31 757317600

1994-01-01 757317600  + 86,400 =  757404000
1994-03-31 765090000

1994-04-01 765090000  + 86,400 =  765176400
1994-06-30 772952400

1994-07-01 772952400  + 86,400 =  773038800
1994-09-30 780901200

1994-10-01 780901200  + 86,400 =  780987600
1994-12-31 788853600

1995-01-01 788853600  + 86,400 =  788940000
1995-03-31 796626000

1995-04-01 796626000  + 86,400 =  796712400
1995-06-30 804488400

1995-07-01 804488400  + 86,400 =  804574800
1995-09-30 812437200

1995-10-01 812437200  + 86,400 =  812523600
1995-12-31 820389600

1996-01-01 820389600  + 86,400 =  820476000
1996-03-31 828248400

1996-04-01 828248400  + 86,400 =  828334800
1996-06-30 836110800

1996-07-01 836110800  + 86,400 =  836197200
1996-09-30 844059600

1996-10-01 844059600  + 86,400 =  844146000
1996-12-31 852012000

1997-01-01 852012000  + 86,400 =  852098400
1997-03-31 859784400

1997-04-01 859784400  + 86,400 =  859870800
1997-06-30 867646800

1997-07-01 867646800  + 86,400 =  867733200
1997-09-30 875595600

1997-10-01 875595600  + 86,400 =  875682000
1997-12-31 883548000

1998-01-01 883548000  + 86,400 =  883634400
1998-03-31 891320400

1998-04-01 891320400  + 86,400 =  891406800
1998-06-30 899182800

1998-07-01 899182800  + 86,400 =  899269200
1998-09-30 907131600

1998-10-01 907131600  + 86,400 =  907218000
1998-12-31 915084000

1999-01-01 915084000  + 86,400 =  915170400
1999-03-31 922856400

1999-04-01 922856400  + 86,400 =  922942800
1999-06-30 930718800

1999-07-01 930718800  + 86,400 =  930805200
1999-09-30 938667600

1999-10-01 938667600  + 86,400 =  938754000
1999-12-31 946620000

2000-01-01 946620000  + 86,400 =  946706400
2000-03-31 954478800

2000-04-01 954478800  + 86,400 =  954565200
2000-06-30 962341200

2000-07-01 962341200  + 86,400 =  962427600
2000-09-30 970290000

2000-10-01 970290000  + 86,400 =  970376400
2000-12-31 978242400

2001-01-01 978242400  + 86,400 =  978328800
2001-03-31 986014800

2001-04-01 986014800  + 86,400 =  986101200
2001-06-30 993877200

2001-07-01 993877200  + 86,400 =  993963600
2001-09-30 1001826000

2001-10-01 1001826000  + 86,400 =  1001912400
2001-12-31 1009778400

2002-01-01 1009778400  + 86,400 =  1009864800
2002-03-31 1017550800

2002-04-01 1017550800  + 86,400 =  1017637200
2002-06-30 1025413200

2002-07-01 1025413200  + 86,400 =  1025499600
2002-09-30 1033362000

2002-10-01 1033362000  + 86,400 =  1033448400
2002-12-31 1041314400

2003-01-01 1041314400  + 86,400 =  1041400800
2003-03-31 1049086800

2003-04-01 1049086800  + 86,400 =  1049173200
2003-06-30 1056949200

2003-07-01 1056949200  + 86,400 =  1057035600
2003-09-30 1064898000

2003-10-01 1064898000  + 86,400 =  1064984400
2003-12-31 1072850400

2004-01-01 1072850400  + 86,400 =  1072936800
2004-03-31 1080709200

2004-04-01 1080709200  + 86,400 =  1080795600
2004-06-30 1088571600

2004-07-01 1088571600  + 86,400 =  1088658000
2004-09-30 1096520400

2004-10-01 1096520400  + 86,400 =  1096606800
2004-12-31 1104472800

2005-01-01 1104472800  + 86,400 =  1104559200
2005-03-31 1112245200

2005-04-01 1112245200  + 86,400 =  1112331600
2005-06-30 1120107600

2005-07-01 1120107600  + 86,400 =  1120194000
2005-09-30 1128056400

2005-10-01 1128056400  + 86,400 =  1128142800
2005-12-31 1136008800

2006-01-01 1136008800  + 86,400 =  1136095200
2006-03-31 1143781200

2006-04-01 1143781200  + 86,400 =  1143867600
2006-06-30 1151643600

2006-07-01 1151643600  + 86,400 =  1151730000
2006-09-30 1159592400

2006-10-01 1159592400  + 86,400 =  1159678800
2006-12-31 1167544800

2007-01-01 1167544800  + 86,400 =  1167631200
2007-03-31 1175317200

2007-04-01 1175317200  + 86,400 =  1175403600
2007-06-30 1183179600

2007-07-01 1183179600  + 86,400 =  1183266000
2007-09-30 1191128400

2007-10-01 1191128400  + 86,400 =  1191214800
2007-12-31 1199080800

2008-01-01 1199080800  + 86,400 =  1199167200
2008-03-31 1206939600

2008-04-01 1206939600  + 86,400 =  1207026000
2008-06-30 1214802000

2008-07-01 1214802000  + 86,400 =  1214888400
2008-09-30 1222750800

2008-10-01 1222750800  + 86,400 =  1222837200
2008-12-31 1230703200

2009-01-01 1230703200  + 86,400 =  1230789600
2009-03-31 1238475600

2009-04-01 1238475600  + 86,400 =  1238562000
2009-06-30 1246338000

2009-07-01 1246338000  + 86,400 =  1246424400
2009-09-30 1254286800

2009-10-01 1254286800  + 86,400 =  1254373200
2009-12-31 1262239200

2010-01-01 1262239200  + 86,400 =  1262325600
2010-03-31 1270011600

2010-04-01 1270011600  + 86,400 =  1270098000
2010-06-30 1277874000

2010-07-01 1277874000  + 86,400 =  1277960400
2010-09-30 1285822800

2010-10-01 1285822800  + 86,400 =  1285909200
2010-12-31 1293775200

2011-01-01 1293775200  + 86,400 =  1293861600
2011-03-31 1301547600

2011-04-01 1301547600  + 86,400 =  1301634000
2011-06-30 1309410000

2011-07-01 1309410000  + 86,400 =  1309496400
2011-09-30 1317358800

2011-10-01 1317358800  + 86,400 =  1317445200
2011-12-31 1325311200

2012-01-01 1325311200  + 86,400 =  1325397600
2012-03-31 1333170000

2012-04-01 1333170000  + 86,400 =  1333256400
2012-06-30 1341032400

2012-07-01 1341032400  + 86,400 =  1341118800
2012-09-30 1348981200

2012-10-01 1348981200  + 86,400 =  1349067600
2012-12-31 1356933600

2013-01-01 1356933600  + 86,400 =  1357020000
2013-03-31 1364706000

2013-04-01 1364706000  + 86,400 =  1364792400
2013-06-30 1372568400

2013-07-01 1372568400  + 86,400 =  1372654800
2013-09-30 1380517200

2013-10-01 1380517200  + 86,400 =  1380603600
2013-12-31 1388469600

2014-01-01 1388469600  + 86,400 =  1388556000
2014-03-31 1396242000

2014-04-01 1396242000  + 86,400 =  1396328400
2014-06-30 1404104400

2014-07-01 1404104400  + 86,400 =  1404190800
2014-09-30 1412053200

2014-10-01 1412053200  + 86,400 =  1412139600
2014-12-31 1420005600

2015-01-01 1420005600  + 86,400 =  1420092000
2015-03-31 1427778000

2015-04-01 1427778000  + 86,400 =  1427864400
2015-06-30 1435640400

2015-07-01 1435640400  + 86,400 =  1435726800
2015-09-30 1443589200

2015-10-01 1443589200  + 86,400 =  1443675600
2015-12-31 1451541600

2016-01-01 1451541600  + 86,400 =  1451628000
2016-03-31 1459400400

2016-04-01 1459400400  + 86,400 =  1459486800
2016-06-30 1467262800

2016-07-01 1467262800  + 86,400 =  1467349200
2016-09-30 1475211600

2016-10-01 1475211600  + 86,400 =  1475298000
2016-12-31 1483164000

2017-01-01 1483164000  + 86,400 =  1483250400
2017-03-31 1490936400

2017-04-01 1490936400  + 86,400 =  1491022800
2017-06-30 1498798800

2017-07-01 1498798800  + 86,400 =  1498885200
2017-09-30 1506747600

2017-10-01 1506747600  + 86,400 =  1506834000
2017-12-31 1514700000

2018-01-01 1514700000  + 86,400 =  1514786400
2018-03-31 1522472400

2018-04-01 1522472400  + 86,400 =  1522558800
2018-06-30 1530334800

2018-07-01 1530334800  + 86,400 =  1530421200
2018-09-30 1538283600

2018-10-01 1538283600  + 86,400 =  1538370000
2018-12-31 1546236000

2019-01-01 1546236000  + 86,400 =  1546322400
2019-03-27 1553662800

In [105]:
df.to_csv('sp500.csv')

In [9]:
df = pd.read_csv('sp500.csv', sep=",",thousands=',')

In [10]:
df['Date']=pd.to_datetime(df['Date'])

In [11]:
df = df.set_index('Date')

In [15]:
df['6 month return']=df['Adj Close'].pct_change(periods=126)
df['1 year return']=df['Adj Close'].pct_change(periods=251)
df['3 year return']=df['Adj Close'].pct_change(periods=753)
df['5 year return'] = df['Adj Close'].pct_change(periods=1255)
df['10 year return']=df['Adj Close'].pct_change(periods=1510)
df.head()

,Open,High,Low,Close,Adj Close,Volume,1 year return,3 year return,5 year return,10 year return,6 month return
Date,,,,,,,,,,,
1990-01-02,353.40,359.69,351.98,359.69,359.69,162070000,NaN,NaN,NaN,NaN,NaN
1990-01-03,359.69,360.59,357.89,358.76,358.76,192330000,NaN,NaN,NaN,NaN,NaN
1990-01-04,358.76,358.76,352.89,355.67,355.67,177000000,NaN,NaN,NaN,NaN,NaN
1990-01-05,355.67,355.67,351.35,352.20,352.20,158530000,NaN,NaN,NaN,NaN,NaN
1990-01-08,352.20,354.24,350.54,353.79,353.79,140110000,NaN,NaN,NaN,NaN,NaN

In [16]:
database_df = df[['6 month return', '1 year return', '3 year return', '5 year return', '10 year return']]

In [18]:
database_df

,6 month return,1 year return,3 year return,5 year return,10 year return
id,,,,,
1990-01-02,NaN,NaN,NaN,NaN,NaN
1990-01-03,NaN,NaN,NaN,NaN,NaN
1990-01-04,NaN,NaN,NaN,NaN,NaN
1990-01-05,NaN,NaN,NaN,NaN,NaN
1990-01-08,NaN,NaN,NaN,NaN,NaN
1990-01-09,NaN,NaN,NaN,NaN,NaN
1990-01-10,NaN,NaN,NaN,NaN,NaN
1990-01-11,NaN,NaN,NaN,NaN,NaN
1990-01-12,NaN,NaN,NaN,NaN,NaN
1990-01-15,NaN,NaN,NaN,NaN,NaN
1990-01-16,NaN,NaN,NaN,NaN,NaN
1990-01-17,NaN,NaN,NaN,NaN,NaN
1990-01-18,NaN,NaN,NaN,NaN,NaN
1990-01-19,NaN,NaN,NaN,NaN,NaN
1990-01-22,NaN,NaN,NaN,NaN,NaN
1990-01-23,NaN,NaN,NaN,NaN,NaN
1990-01-24,NaN,NaN,NaN,NaN,NaN
1990-01-25,NaN,NaN,NaN,NaN,NaN
1990-01-26,NaN,NaN,NaN,NaN,NaN
1990-01-29,NaN,NaN,NaN,NaN,NaN
1990-01-30,NaN,NaN,NaN,NaN,NaN
1990-01-31,NaN,NaN,NaN,NaN,NaN
1990-02-01,NaN,NaN,NaN,NaN,NaN
1990-02-02,NaN,NaN,NaN,NaN,NaN
1990-02-05,NaN,NaN,NaN,NaN,NaN
1990-02-06,NaN,NaN,NaN,NaN,NaN
1990-02-07,NaN,NaN,NaN,NaN,NaN
1990-02-08,NaN,NaN,NaN,NaN,NaN
1990-02-09,NaN,NaN,NaN,NaN,NaN
1990-02-12,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2019-02-13,-0.030610,0.020158,0.410581,0.474077,0.774797
2019-02-14,-0.025774,0.005320,0.409476,0.469720,0.764359
2019-02-15,-0.022913,0.015877,0.436475,0.503298,0.787849
2019-02-19,-0.024690,0.023378,0.405090,0.509812,0.788179
2019-02-20,-0.025323,0.030863,0.401848,0.498093,0.781376
2019-02-21,-0.030765,0.026228,0.392034,0.482110,0.777971
2019-02-22,-0.024163,0.016514,0.396342,0.500814,0.799285
2019-02-25,-0.021306,0.005940,0.396826,0.493641,0.805876
2019-02-26,-0.028104,0.018081,0.411588,0.496850,0.792444
2019-02-27,-0.036027,0.028944,0.403728,0.503349,0.806430
2019-02-28,-0.039009,0.039893,0.399544,0.492528,0.788495
2019-03-01,-0.037868,0.041780,0.386462,0.513414,0.806862
2019-03-04,-0.037337,0.026414,0.382826,0.510411,0.785947
2019-03-05,-0.038556,0.022554,0.383803,0.501733,0.784976
2019-03-06,-0.043245,0.016375,0.367119,0.480207,0.766166
2019-03-07,-0.048352,0.003636,0.347125,0.468179,0.759687
2019-03-08,-0.046900,-0.015611,0.338357,0.454808,0.746900
2019-03-11,-0.030776,0.000101,0.356648,0.471945,0.791413
2019-03-12,-0.029755,0.009478,0.361850,0.477957,0.789459
2019-03-13,-0.026653,0.022346,0.380128,0.507123,0.809667
2019-03-14,-0.027844,0.022258,0.379451,0.522178,0.796772
2019-03-15,-0.028132,0.025607,0.385572,0.524050,0.799351
2019-03-18,-0.024799,0.044240,0.378553,0.513177,0.784271
2019-03-19,-0.019465,0.042559,0.372402,0.545252,0.777723
2019-03-20,-0.027573,0.041410,0.371158,0.555458,0.777531
2019-03-21,-0.018250,0.079885,0.386039,0.559524,0.839058
2019-03-22,-0.044371,0.082082,0.351185,0.519664,0.778714
2019-03-25,-0.044821,0.052589,0.354397,0.502628,0.803055
2019-03-26,-0.034566,0.078787,0.378105,0.511360,0.828257
2019-03-27,-0.037794,0.076917,0.357441,0.498683,0.803806

In [19]:
conn = sqlite3.connect('sp500_return.db')
database_df.to_sql(name='rolling_returns', con=conn, if_exists='replace')
conn.close()

NameError: name 'sqlite3' is not defined